<div class="card mx-auto">
	<div class="card-header">
        New Aluno
    </div>

    <div class="card-body">
        <form [formGroup]="AlunoForm" novalidate> 
                <div class="form-row">
                    <div class="col">
                        <label>RA:</label>
                        <input formControlName="RA" type="text" class="form-control" placeholder="RA">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>nome:</label>
                        <input formControlName="nome" type="text" class="form-control" placeholder="nome">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>obs:</label>
                        <input formControlName="obs" type="text" class="form-control" placeholder="obs">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>foto:</label>
                        <input formControlName="foto" type="text" class="form-control" placeholder="foto">
                    </div>
                </div>
                




            <div class=" form-group">
                <button (click)="AlunoList.save(AlunoForm.value)" type="button" [disabled]="!AlunoForm.valid" 
                class="btn btn-info btn-block">
                  Save Aluno
                </button>
            </div>
        </form>
    </div>

</div>

<app-Aluno-list
#AlunoList
></app-Aluno-list>
