<div class="card mx-auto">
	<div class="card-header">
        New Aula
    </div>

    <div class="card-body">
        <form [formGroup]="AulaForm" novalidate> 
                <div class="form-row">
                    <div class="col">
                        <label>id:</label>
                        <input formControlName="id" type="text" class="form-control" placeholder="id">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>descricao:</label>
                        <input formControlName="descricao" type="text" class="form-control" placeholder="descricao">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>sala:</label>
                        <input formControlName="sala" type="text" class="form-control" placeholder="sala">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>horario:</label>
                        <input formControlName="horario" type="text" class="form-control" placeholder="horario">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>logotipo:</label>
                        <input formControlName="logotipo" type="text" class="form-control" placeholder="logotipo">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col">
                        <label>professor:</label>
                        <input formControlName="professor" type="text" class="form-control" placeholder="professor" readonly>
                    </div>
                </div>




            <div class=" form-group">
                <button (click)="AulaList.save(AulaForm.value)" type="button" [disabled]="!AulaForm.valid" 
                class="btn btn-info btn-block">
                  Save Aula
                </button>
            </div>
        </form>
    </div>

</div>

<app-Aula-list
#AulaList
></app-Aula-list>
