<div class="card mt-4">
    <div class="row">
        <div class="col-4">    
            
            <img [src]="Aluno.foto" 
                class="img-Aluno" height="96" 
            >
            
        </div>
        <div class="col-6">
            <h4>
                {{Aluno.nome}}
            </h4>
        </div>
        <ng-content></ng-content>
    </div>
    <div class="row">

        <div class="col-4 mx-1">

            <span class="text-muted small">
                {{Aluno.obs}}
            </span>

        </div>

        <div class="col-6">
            <span class="text-muted small">
                {{Aluno.RA}}
            </span>
        </div>

    </div>
</div>
