<div class="navbar mt-2">
    <div class="nav-item container">
        <form [formGroup]="searchForm" class="form-inline">

            <div class="col-10 search-input">
                <input type="text" formControlName="searchContent" class="form-control">
            </div>
            <div class="col-2">
                <button (click)="emitFilterEvent(searchForm.value)" class="btn btn-light btn-search" type="button">
                    <i class="fa fa-search"></i>
                </button>    
            </div>
            
        </form>
    </div> 
</div>