<div class="card mt-4">
    <div class="row">
        <div class="col-4">    
            <img [src]="Aula.aluno.foto" 
                class="image-item" height="96" 
            >
        </div>
        <div class="col-6">
            <h4>
                {{Aula.aluno.nome}}
            </h4>
        </div>
        <ng-content></ng-content>
    </div>
    <!-- <div class="row">

        <div class="col-4 mx-1">

            <span class="text-muted small">
                {{Aula.curso.nome}}
            </span>

        </div>

        <div class="col-6">
            <span class="text-muted small">
                {{Aula.curso.professor.nome}}
            </span>
        </div>

    </div> -->
</div>
