<div class="row">

  <div *ngFor="let Aluno of Navigator.view(items)" class="col-sm-6 col-xs-12">
    <app-Aluno-item [Aluno]="Aluno">
          <div>
              <app-delete-button (delete)="remove(Aluno)">
              </app-delete-button>

                        <button 
                        style="border: none;background-color: transparent;margin-left: 10%;"
                        (click)="select(Aluno)">
                            <i class="fa fa-check-circle-o"
                            data-toggle="tooltip" title="Select Aluno for Presenca"></i>
                        </button>
                        
          </div>
    </app-Aluno-item>
  </div>
  <h4 *ngIf="!items" class="jumbotron ml-4">Aluno Not found. :(</h4>
  
</div>

<app-navigator 
  [maxItems]="4"
  #Navigator
></app-navigator>