<div class="card mx-auto">
	<div class="card-header">
        New Presenca
    </div>

    <div class="card-body">
        <form [formGroup]="PresencaForm" novalidate> 
                <div class="form-row">
                    <div class="col">
                        <label>id:</label>
                        <input formControlName="id" type="text" class="form-control" placeholder="id">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>dia:</label>
                        <input formControlName="dia" type="text" class="form-control" placeholder="dia">
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col">
                        <label>aluno:</label>
                        <input formControlName="aluno" type="text" class="form-control" placeholder="aluno" readonly>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <label>aula:</label>
                        <input formControlName="aula" type="text" class="form-control" placeholder="aula" readonly>
                    </div>
                </div>


                <div class="col">
                    <label>situacao:</label>
                    <select formControlName="situacao">
            
                         <option value="presente">presente</option>
                         <option value="dispensado">dispensado</option>
                         <option value="doente">doente</option>
                         <option value="faltou">faltou</option>


                    </select>
                </div>
            
            <div class=" form-group">
                <button (click)="PresencaList.save(PresencaForm.value)" type="button" [disabled]="!PresencaForm.valid" 
                class="btn btn-info btn-block">
                  Save Presenca
                </button>
            </div>
        </form>
    </div>

</div>

<app-Presenca-list
#PresencaList
></app-Presenca-list>
