<div class="navbar navbar navbar-light bg-ligh">

    <a [routerLink]="['/']" class="navbar-brand">
      <img src="assets/img/logo.png" width="25%">
      <b>educat</b>
    </a>

    <ul class="nav nav-pills">
       <li class="nav-link"><a [routerLink]="['/Aluno']">Aluno</a></li>
       <li class="nav-link"><a [routerLink]="['/Professor']">Professor</a></li>
       <li class="nav-link"><a [routerLink]="['/Curso']">Curso</a></li>
       <li class="nav-link"><a [routerLink]="['/Aula']">Aula</a></li>

    </ul>

</div>

